.carousel {
  height: 100%;
  width: 100%;
}

.carousel-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .prev-button {
  position: absolute;
  top: 50%;
  left: 20px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.carousel .next-button {
  position: absolute;
  top: 50%;
  right: 20px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
