.notifications-main {
  background: black;
  padding-left: 300px;
  color: white;
  min-height: 100vh;
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
}

.notifications-list {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.notification-box {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  background: #363636;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
}

.notification-box button {
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  background: blue;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.notification-box a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
